 {% extends 'includes/base.html' %}
{% block title %}Курс "Промышленное программирование"{% endblock %}
 {% block content %}
  <form method="get" action="/calc/">
     <div class="mb-3">
         <label for="first_number" class="form-label">Первое число:</label>
         <input type="number" class="form-control" id="first_number" name="first_number">
     </div>
     <div class="mb-3">
         <label for="second_number" class="form-label">Второе число:</label>
         <input type="number" class="form-control" id="second_number" name="second_number">
     </div>
     <button type="submit" class="btn btn-primary">Вычислить</button>
 </form>
 <p>Результат:</p>
 <ul>
     <li>Первое число: {{ first_number }}</li>
     <li>Второе число: {{ second_number }}</li>
     <li>Сумма: {{ answer_number }}</li>
 </ul>
 {% endblock %}