 {% extends 'includes/base.html' %}
{% block title %}Курс "Промышленное программирование"{% endblock %}
 {% block content %}
  <h1>История вычислений</h1>
  <table class="table">
      <thead>
          <tr>
              <th>Выражение</th>
              <th>Результат</th>
          </tr>
      </thead>
      <tbody>
          {% for item in history %}
          <tr>
              <td>{{ item.expression }}</td>
              <td>{{ item.result }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
 {% endblock %}