{% extends 'includes/base.html' %}
{% block title %}Курс "Промышленное программирование"{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Анализировать</button>
</form>

{% if words %}
    <h2>Слова:</h2>
    <ul>
        {% for word in words %}
            <li>{{ word }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if numbers %}
    <h2>Числа:</h2>
    <ul>
        {% for number in numbers %}
            <li>{{ number }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if word_count %}
    <p>Всего слов: {{ word_count }}</p>
{% endif %}

 {% if char_count %}
    <p>Всего символов: {{ char_count }}</p>
{% endif %}
{% endblock %}