{% extends 'includes/base.html' %}
{% block title %}Курс "Промышленное программирование"{% endblock %}
{% block content %}
    <h1>История запросов</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>Строка</th>
                <th>Кол-во слов</th>
                <th>Кол-во символов</th>
            </tr>
        </thead>
        <tbody>
            {% for item in history %}
            <tr>
                <td>{{ item.request_date }}</td>
                <td>{{ item.request_time }}</td>
                <td>{{ item.input_string }}</td>
                <td>{{ item.word_count }}</td>
                <td>{{ item.char_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}